<%= form_with(model: article, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :title, 'タイトル'  %>
    <%= form.text_field :title, id: :article_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content, 'コンテンツ' %>
    <%= form.text_area :content, id: :article_content, rows: 10, class: 'form-control'%>
  </div>

  <% if request.path_info == new_article_path %>
    <%= form.submit '作成', class: 'btn btn-secondary mb-3'%>
  <% else %>
    <%= form.submit '更新', class: 'btn btn-secondary mb-3'%>
  <% end %>
<% end %>
