<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>

<script>
  $(function(){
    $("input[type=text]").change(function() {
      $(window).on('beforeunload', function() {
        return 'このページから移動しますか？ 行った変更が保存されません。';
      });
    });
    $("input[type=submit]").click(function() {
      $(window).off('beforeunload');
    });
  });
</script>

<%= form_with(model: article, local: true) do |form| %>
  <div class="col-lg-6 p-2 ">
    <div class='py-3 relative cover-img'>
      <div class="img-wrapper">
        <div class="img-content">
          <% if article.image_id.present? %>
            <%= image_tag attachment_url(article, :image), class: 'd-block img-fluid rounded border', id: 'display-img', style:'width:100%; height:100%; object-fit: cover;' %>
          <% else %>
            <%= image_tag 'bg-gray.jpg', class: 'd-block img-fluid rounded border', id: 'display-img', style:'width:100%; height:100%; object-fit: cover;' %>
          <% end %>
          <i class="fa fa-camera fa-5x"></i>
          <%= form.attachment_field :image, class: 'd-none' %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span>タグ</span><br>
    <!-- 存在するタグの数だけ、ラジオボックスを生成する -->
    <%= form.collection_radio_buttons(:tag_ids, Tag.all, :id, :name, { checked: article.tags.collect(&:id) }) do |tag| %>
    <div class="form-check-inline">
      <%= tag.label {tag.radio_button + " " + tag.text} %>
    </div>
    <% end %>
  </div>

  <div class="form-group col-lg-7 px-0" >
    <%= form.label :title, 'タイトル'  %>
    <%= form.text_field :title, id: :article_title, class: 'form-control' %>
  </div>

  <div class="form-group col-lg-7 px-0" >
    <%= form.label :slug, 'URL'  %>
    <%= form.text_field :slug, id: :article_slug, class: 'form-control' %>
  </div>

  <div class="form-group col-lg-10 mb-0 px-0">
    <%= form.label :content, 'コンテンツ' %>
    <textarea id="editor" name="article[content]" rows="10"><%= article.content if article.content %></textarea>
    <script>
      var simplemde = new SimpleMDE({ element: document.getElementById("editor") });
    </script>
  </div>

  <% if request.path_info == new_article_path %>
    <%= form.submit '作成', class: 'btn btn-secondary mb-3'%>
  <% else %>
    <%= form.submit '更新', class: 'btn btn-secondary mb-3'%>
  <% end %>
<% end %>
