<%= form_with(model: article, local: true) do |form| %>

  <div class='py-3 relative cover-img' style='width:400px'>
    <% if article.image_id.present? %>
      <%= image_tag attachment_url(article, :image), class: 'd-block img-fluid rounded border' %>
    <% else %>
      <%= image_tag 'bg-gray.jpg', class: 'd-block img-fluid rounded', style:'width: 400px; height: 250px' %>
      <i class="fa fa-camera"></i>
    <% end %>
    <%= form.attachment_field :image, class: 'd-none' %>
  </div>

  <div class="form-group">
    <span>タグ</span><br>
    <!-- 存在するタグの数だけ、ラジオボックスを生成する
     多対多の設定によりarticleオブジェクトにtag_idsというプロパティが追加されている
     第2引数はtagオブジェクトのリストを取得して渡している 第3引数はラジオボックスのバリューに設定
     するプロパティを指定している　第2引数でタグオブジェクトを渡しているので、個々のタグオブジェクトの
     idの値がラジオボックスの値になる　第4引数は各ラジオボックスのラベル名としてタグオブジェクトの
     ネームプロパティの値をラベル名とする指定している -->
    <%= form.collection_radio_buttons(:tag_ids, Tag.all, :id, :name, { checked: article.tags.collect(&:id) }) do |tag| %>
    <div class="form-check-inline">
      <%= tag.label {tag.radio_button + " " + tag.text} %>
    </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :title, 'タイトル'  %>
    <%= form.text_field :title, id: :article_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content, 'コンテンツ' %>
    <%= form.text_area :content, id: :article_content, rows: 10, class: 'form-control'%>
  </div>

  <% if request.path_info == new_article_path %>
    <%= form.submit '作成', class: 'btn btn-secondary mb-3'%>
  <% else %>
    <%= form.submit '更新', class: 'btn btn-secondary mb-3'%>
  <% end %>
<% end %>
