<!-- 検索結果の表示 -->
<% if @search_word.present? && @search_articles.present? %>
  <div class="mx-auto col-lg-11 col-12">
    <h2 class="text-center border-bottom border-dark col-md-8 mx-auto my-4" style="font-style:italic;"><i class="fa fa-search fa-1x text-secondary"></i> Search results for: <%= @search_word %></h2>

    <!-- 検索結果の表示-->
    <div class="album pt-4 bg-light">
      <div class="container-fluid">
        <div class="row">
          <% @search_articles.each do |search_article| %>
            <div class="col-lg-3 col-6 px-2 mb-4 relative">
              <%= link_to search_article, class:'text-dark', style:'text-decoration: none;', style:'text-decoration: none;' do %>
                <div class="card mb-4 h-100">
                  <% if search_article.image_id.present? %>
                    <!-- アスペクト比75%で画像サイズを揃える -->
                    <div class="img-wrapper">
                      <div class="img-content">
                        <%= image_tag attachment_url(search_article, :image), class: 'img-fluid rounded border-bottom', style:'width: 100%; height: 100%; object-fit: cover;' %>
                      </div>
                    </div>
                  <% else %>
                    <div class="img-wrapper">
                      <div class="img-content">
                        <%= image_tag 'bg-gray.jpg', class: 'img-fluid rounded', style:'width: 100%; height: 100%' %>
                        <i class="fa fa-camera"></i>
                      </div>
                    </div>
                  <% end %>
                  <!-- heightでカードの高さを指定 -->
                  <div class="card-body p-2" style="height: 20px;">
                    <!-- タイトルの行数は２行以上表示しない-->
                    <h5 class="card-title font-weight-bold" style="font-size:1.1rem; overflow: hidden; height: 2.3em;"><%= search_article.title %></h5>
                  </div>
                  <div class="card-footer bg-transparent border-0">
                    <div class="d-flex align-items-center">
                      <small class="text-muted mr-auto"><%= search_article.created_at.strftime("%Y.%m.%d") %></small>
                      <%= render partial: "badge", locals: { badge: search_article }, class: "ml-auto" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <!-- kaminariによるページネーションを表示 -->
      <%= paginate @search_articles %>
    </div>
  </div>
<% else %>

  <!-- PC表示のときはcol-11, スマフォのときはcol-12 -->
  <div class="mx-auto col-lg-11 col-12">
    <!-- bootstrapの設定：テキスト位置センター、黒色の下線、グリッド2 mdレスポンシブ、上下マージン4-->
    <h1 class="text-center border-bottom border-dark col-md-8 mx-auto my-4">LATEST ARTICLES</h1>
    <div class="album pt-4 bg-light">
      <div class="container-fluid">
        <div class="row">
          <% @latest_articles.each do |latest_article| %>
            <div class="col-lg-3 col-6 px-2 mb-4 relative">
              <%= link_to latest_article, class:'text-dark', style:'text-decoration: none;', style:'text-decoration: none;' do %>
                <div class="card mb-4 h-100">
                  <% if latest_article.image_id.present? %>
                    <!-- アスペクト比75%で画像サイズを揃える -->
                    <div class="img-wrapper">
                      <div class="img-content">
                        <%= image_tag attachment_url(latest_article, :image), class: 'img-fluid rounded border-bottom', style:'width: 100%; height: 100%; object-fit: cover;' %>
                      </div>
                    </div>
                  <% else %>
                    <div class="img-wrapper">
                      <div class="img-content">
                        <%= image_tag 'bg-gray.jpg', class: 'img-fluid rounded', style:'width: 100%; height: 100%' %>
                        <i class="fa fa-camera"></i>
                      </div>
                    </div>
                  <% end %>
                  <!-- heightでカードの高さを指定 -->
                  <div class="card-body p-2" style="height: 20px;">
                    <!-- タイトルの行数は２行以上表示しない-->
                    <h5 class="card-title font-weight-bold" style="font-size:1.1rem; overflow: hidden; height: 2.3em;"><%= latest_article.title %></h5>
                  </div>
                  <div class="card-footer bg-transparent border-0">
                    <div class="d-flex align-items-center">
                      <small class="text-muted mr-auto"><%= latest_article.created_at.strftime("%Y.%m.%d") %></small>
                      <%= render partial: "badge", locals: { badge: latest_article }, class: "ml-auto"  %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <!-- kaminariによるページネーションを表示 -->
      <%= paginate @latest_articles %>
    </div>

    <h1 class="text-center border-bottom border-dark col-md-8 mx-auto my-4">POPULAR ARTICLES</h1>
    <!-- 記事を表示 -->
    <div class="album pt-4 bg-light">
      <div class="container-fluid">
        <div class="row">
          <% @popular_articles.each do |popular_article| %>
            <div class="col-lg-3 col-6 px-2 mb-4 relative">
              <%= link_to popular_article, class:'text-dark', style:'text-decoration: none;' do %>
                <div class="card mb-4 h-100">
                  <% if popular_article.image_id.present? %>
                    <!-- アスペクト比75%で画像サイズを揃える -->
                    <div class="img-wrapper">
                      <div class="img-content">
                        <%= image_tag attachment_url(popular_article, :image), class: 'img-fluid rounded border-bottom', style:'width: 100%; height: 100%; object-fit: cover;' %>
                      </div>
                    </div>
                  <% else %>
                    <div class="img-wrapper">
                      <div class="img-content">
                        <%= image_tag 'bg-gray.jpg', class: 'img-fluid rounded', style:'width: 100%; height: 100%' %>
                        <i class="fa fa-camera"></i> 
                      </div>
                    </div>
                  <% end %>
                  <!-- heightでカードの高さを指定 -->
                  <div class="card-body p-2" style="height: 20px;">
                    <!-- タイトルの行数は２行以上表示しない-->
                    <h5 class="card-title font-weight-bold" style="font-size:1.1rem; overflow: hidden; height: 2.3em;"><%= popular_article.title %></h5>
                  </div>
                  <div class="card-footer bg-transparent border-0">
                    <div class="d-flex align-items-center">
                      <small class="text-muted mr-auto"><%= popular_article.created_at.strftime("%Y.%m.%d") %></small>
                      <%= render partial: "badge", locals: { badge: popular_article }, class: "ml-auto" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

