<h4 id="notice" class="bg-primary px-3"><%= notice %></h4>
<div class="mx-auto col-10 mt-3 bg-light border">
  <p class="my-1 text-muted"><%= @article.updated_at.strftime("%Y.%m.%d") %></p>
  <h4 class="font-weight-bold"><%= @article.title %></h4>
  <p><%= @article.content %></p>
</div>
<div class="mx-auto col-10 py-2">
  <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %>
  <%= link_to 'Back', articles_path, class: 'btn btn-primary mx-2' %>
</div>
