<% set_meta_tags title: @article.title, description: strip_tags(md_to_html(@article.content)).truncate(50), og: { title: @article.title, description: strip_tags(md_to_html(@article.content)).truncate(50), type: 'article', image: attachment_url(@article, :image, format: 'jpg' ) }, twitter: { title: @article.title, description: strip_tags(md_to_html(@article.content)).truncate(50), image: attachment_url(@article, :image, format: 'jpg') } %>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<div class="mx-auto col-lg-11 py-2 border-bottom">
  <div class="row">
    <div class="col-lg-9 mt-2">
      <div class="d-flex align-items-center mb-1">
        <p class="my-1 text-muted mr-3"><%= @article.updated_at.strftime("%Y.%m.%d") %></p>
        <%= render partial: "badge", locals: { badge: @article } %>
      </div>
      <h3 class="font-weight-bold mb-3"><%= @article.title %></h3>
      <% if @article.image_id.present? %>
        <div class="col-lg-8 p-2 mb-3">
          <div class="img-wrapper">
            <div class="img-content">
              <%= image_tag attachment_url(@article, :image), class: 'd-block img-fluid rounded border mb-2', style: 'width: 100%; height: 100%; object-fit: cover; '%>
            </div>
          </div>
        </div>
      <% end %>
      <%= md_to_html(@article.content) %>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div class="mx-auto col-10 py-2">
    <%= link_to '編集', edit_article_path(@article), class: 'btn btn-primary' %>
    <%= link_to 'ホーム', articles_path, class: 'btn btn-primary mx-2' %>
    <%= link_to '削除', article_path, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }%>
  </div>
<% else %>
<% end %>



