<!-- bootstrapのナビゲーションバーをフッターに使用 -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark py-0 fixed-top">
  <!-- タイトルをクリックしたらルート「/」ページへ移動 -->
  <a class="navbar-brand ml-1" href="/"><h2>Liber's Blog</h2></a>

  <!-- レスポンシブデザイン ページが小さくなったら三本線のアイコンを表示 -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- ヘッダーのアイテムを定義 -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <!-- application_helper.rbで定義しているheader_link_item関数を使用 -->
      <%= header_link_item('Technology', '#') %>
      <%= header_link_item('Business', '#') %>
      <%= header_link_item('Lifehack', '#') %>
      <%= header_link_item('Diary', '#') %>
      <%= header_link_item('Home', root_path) %>
    </ul>
  </div>
</nav>
