<!DOCTYPE html>
<html>
  <head>
    <!-- Webページの検索結果のタイトルになる？ -->
    <!-- ページのタブの名前を変更 -->
    <title><%= content_for?(:html_title) ? yield(:html_title) + ' | ' + "Liber's Blog" : "Liber's Blog" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <div class="container-fluid px-0" id='wrapper'>
      <!--パーシャル機能 app/views/layouts/_header.html.erbの内容が展開される -->
      <%= render 'layouts/header' %>
      <!-- エラー・アラートメッセージを表示 -->
      <% if alert %>
        <h4 id="alert" class="bg-danger px-3"><%= alert %></h4>
      <% end %>
      <% if notice %>
        <h4 id="notice" class="bg-primary px-3"><%= notice %></h4>
      <% end %>
      <!--home.html.erbなどViewの内容がHTMLに変換され、yieldの位置に挿入される-->
      <%= yield %>
      <!--パーシャル機能 app/views/layouts/_footer.html.erbの内容が展開される -->
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
