<!DOCTYPE html>
<html>
  <head>
    <!-- Webページの検索結果のタイトルになる？ -->
    <!-- ページのタブの名前を変更 -->
    <title>Liber's Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--パーシャル機能 app/views/layouts/_header.html.erbの内容が展開される -->
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
