<!DOCTYPE html>
<html>
  <head>
    <!-- スマフォ表示する際に必要 -->
    <meta name="viewport" content="width=device-width,initial-scale=0.8,minimum-scale=0.8">
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <div class="container-fluid px-0" id='wrapper'>
      <!--パーシャル機能 app/views/layouts/_header.html.erbの内容が展開される -->
      <%= render 'layouts/header' %>
      <!-- エラー・アラートメッセージを表示 -->
      <div class="flash">
        <% if alert %>
          <h4 id="alert" class="bg-danger px-3 mt-2"><%= alert %></h4>
        <% end %>
        <% if notice %>
          <h4 id="notice" class="bg-primary px-3 mt-2"><%= notice %></h4>
        <% end %>
      </div>
      <!--home.html.erbなどViewの内容がHTMLに変換され、yieldの位置に挿入される-->
      <%= yield %>
      <!--パーシャル機能 app/views/layouts/_footer.html.erbの内容が展開される -->
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
